.search-section {
  background-color: var(--color-white);
}

.search-section-content {
  max-width: 900rem;
  margin: 0 auto;
  text-align: center;
}

.search-section-content h2 {
  font-size: 64rem;
  margin-bottom: 32rem;
}

.search-description {
  font-size: 18rem;
  line-height: 1.8;
  color: var(--color-text-secondary);
  margin-bottom: 40rem;
}

@media (max-width: 767px) {
  .search-section-content h2 {
    font-size: 36rem;
  }
}





